* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  background-color: #e5f2fe;
  background-image: url("./../img/bg/bg-lines.svg");
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.dashboard {
  position: fixed;
  top: 40px;
  bottom: 40px;
  left: 40px;
  right: 40px;
  display: flex;
  max-width: 1439px;
  margin: 0 auto;
  background: #202020;
  border-radius: 50px;
}
.dashboard__nav {
  flex-shrink: 0;
  padding-top: 40px;
  padding-bottom: 75px;
  width: 138px;
}
.dashboard__body {
  flex-grow: 1;
  padding: 26px 56px 57px 68px;
  margin: 17px 19px 11px 0;
  background-color: #fff;
  border-radius: 45px;
}
.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard__header-icons {
  display: flex;
}
.dashboard__header-icons > * + * {
  margin-left: 16px;
}
.dashboard__cards {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.dashboard__cards > * + * {
  margin-left: 30px;
}
.dashboard__market {
  display: flex;
}
.dashboard__market > * + * {
  margin-left: 30px;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.nav__logo {
  margin-bottom: 132px;
  flex-shrink: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.nav__icons {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul.nav__icons-list {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
ul.nav__icons-list li {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}
ul.nav__icons-list li:last-child {
  margin-bottom: 0;
}
ul.nav__icons-list li.nav__icons-list-last-icon {
  margin-top: auto;
}
ul.nav__icons-list a {
  text-decoration: none;
}

.logo {
  text-decoration: none;
}

.header-icon {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background: #f2f5fa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in;
}
.header-icon:hover {
  background-color: #dce3f0;
}
.header-icon--new {
  position: relative;
}
.header-icon--new::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 50%;
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ff5e5e;
  border: 1px #fff solid;
}

.user-profile {
  height: 54px;
  background: #f2f5fa;
  border-radius: 27px;
  display: flex;
  transition: background-color 0.2s ease-in;
}
.user-profile:hover {
  background-color: #dce3f0;
}
.user-profile__avatar {
  margin-top: -16px;
  margin-right: 6px;
  margin-left: 4px;
}
.user-profile__nav-button {
  position: relative;
  padding-right: 41px;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.02em;
  color: #0b1432;
}
.user-profile__nav-button::after {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 21px;
  background-image: url(./../img/top-icons/arrow-down.svg);
  width: 12px;
  height: 7px;
}

.portfolio__header {
  margin-bottom: 24px;
}
.title-1 {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 0.02em;
  color: #000000;
}

.title-2 {
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.02em;
  color: #000000;
}

.title-3 {
  font-weight: 600;
  font-size: 27px;
  letter-spacing: 0.02em;
  color: #000000;
  line-height: 1.5;
}

.balance-card {
  position: relative;
  width: 486px;
  height: 244px;
  background: #e5f2fe;
  border-radius: 24px;
  padding: 26px 35px 25px 28px;
}
.balance-card__balance-value {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.02em;
  color: #000000;
}
.balance-card__balance-desc {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #000000;
}
.balance-card__settings {
  position: absolute;
  top: 37px;
  right: 20px;
}
.balance-card__period {
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 34px;
}
.balance-card__period > * + * {
  margin-left: 23px;
}
.balance-card__period-btn {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #acbccd;
}
.balance-card__period-btn--active {
  color: #040404;
}
.balance-card__chart {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 27px;
}

.assets {
  flex-grow: 1;
}
.assets__header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
.assets__cards {
  display: flex;
}
.assets__cards > * + * {
  margin-left: 30px;
}

.asset-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 194px;
  min-height: 244px;
  padding: 30px 24px 26px 25px;
  background: #e5def0;
  border-radius: 24px;
  color: #000000;
}
.asset-card--ltc {
  background-color: #d6edda;
}
.asset-card--eth {
  background-color: #f6f0d8;
}
.asset-card__value {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.02em;
}
.asset-card__fiat {
  font-size: 16px;
  letter-spacing: 0.02em;
}
.asset-card__settings {
  position: absolute;
  top: 37px;
  right: 16px;
}
.asset-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.asset-card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background: #ffffff;
  border-radius: 14px;
}
.asset-card__income {
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #896ab9;
}

.button-more {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-more__icon::after, .button-more__icon::before, .button-more__icon {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #a0a9b2;
}

.button-more__icon {
  position: relative;
}
.button-more__icon::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
}
.button-more__icon::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
}

.market {
  flex-grow: 1;
}
.market__header {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.market__header-buttons {
  display: flex;
}
.market__header-buttons > * + * {
  margin-left: 16px;
}

.market-table {
  width: 100%;
  border-collapse: collapse;
}
.market-table th,
.market-table td {
  text-align: left;
  padding: 0;
}
.market-table thead th {
  padding-bottom: 22px;
  font-size: 13px;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: #8290a0;
}
.market-table tbody td {
  padding-bottom: 20px;
}
.market-table td:not(:last-child) {
  padding-right: 15px;
}
.market-table__price {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}
.market-table__chanee {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #4ba582;
}
.market-table__cap {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.02em;
  color: #000000;
}
.dropdown-btn {
  position: relative;
  padding-left: 18px;
  padding-right: 38px;
  height: 44px;
  line-height: 44px;
  border: 1px solid #eff2f4;
  border-radius: 22px;
}
.dropdown-btn::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
  content: "";
  width: 12px;
  height: 7px;
  background-image: url("./../img/top-icons/arrow-down.svg");
}

.coin {
  display: flex;
  align-items: center;
}
.coin__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  background-color: #222;
  border-radius: 15px;
}
.coin__title {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.02em;
  color: #000000;
}
.coin__desc {
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #7a899a;
}

.earn-free-wrapper {
  position: relative;
  align-self: flex-start;
}
.earn-free-wrapper::before {
  content: "";
  position: absolute;
  width: 345px;
  height: 48px;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background: #dfdfe3;
  border-radius: 24px;
}
.earn-free-wrapper::after {
  content: "";
  position: absolute;
  width: 295px;
  height: 48px;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: #f0f0f1;
  border-radius: 24px;
}

.earn-free {
  position: relative;
  z-index: 9;
  padding: 60px 40px 60px 34px;
  width: 410px;
  height: 363px;
  background: #222222;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  line-height: 1.46;
  letter-spacing: 0.02em;
  background-image: url("./../img/earn-card/bg-cards.svg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: right bottom;
}
.earn-free__title {
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.earn-free__title::first-line {
  font-weight: 700;
}
.earn-free__title-free {
  display: inline-block;
  background-image: url("./../img/earn-card/free.svg");
  width: 97.3px;
  height: 71px;
  font-size: 0;
  vertical-align: middle;
}
.earn-free__text {
  margin-bottom: 35px;
}
.earn-free__button {
  display: inline-block;
  padding-left: 36px;
  padding-right: 36px;
  height: 46px;
  background: #bcdfff;
  border-radius: 23px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 46px;
  color: #000000;
}/*# sourceMappingURL=main.css.map */