.dashboard {
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 40px;
    right: 40px;
    display: flex;
    background: #202020;
    border-radius: 50px;

    &__nav {
        flex-shrink: 0;
        padding-top: 40px;
        padding-bottom: 75px;
        width: 138px;
    }

    &__body {
        flex-grow: 1;

        padding: 26px 56px 57px 68px;
        margin: 17px 19px 11px 0;

        background-color: #fff;
        border-radius: 45px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__header-icons {
        display: flex;
        & > * + * {
            margin-left: 16px;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
    }

    &__cards > * + * {
        margin-left: 30px;
    }

    &__market {
    }
}
