%round {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #a0a9b2;
}

.icon-show-more {
    position: relative;
    @extend %round;

    &::before {
        content: '';
        position: absolute;
        top: -8px;
        left: 0;
        @extend %round;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0;
        @extend %round;
    }
}
