.market {
    flex-grow: 1;

    &__header {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
    }

    &__header-buttons {
        display: flex;

        & > * + * {
            margin-left: 16px;
        }
    }
}
